body {
  font-family: 'Montserrat', sans-serif;
  color: #4c4c4c;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
}

h3 {
  font-size: 1.5rem;
}

.vcenter {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0 10%;}

.center {
  text-align: center;
}

.banner {
  background: #6b516b;
  color: white;
}

.banner a {
  color: white;
}

button.btn.btn-primary {
  background-color: #cca5ce;
  border-color: #cca5ce;
  color: #4f3c50
}

button.btn.btn-primary:hover {
  background-color: #c19cc3;
  border-color: #c19cc3;
}

button.btn {
  width: 200px;
  height: 50px;
  margin: 5px 0;
}

section img {
  width: 100%;
  padding: 5%;
}

h3 {
  padding: 10px 0px;
}

.fab {
  font-size: 3em;
  margin: 10px;
}
.button-box {
  margin: 20px;
}
.button-box a {
  outline: none;
  text-decoration: none;
}
.button-box a:hover,a:click, a:visited {
  border:none;
  outline:none;
  text-decoration:none;
}

.social-box a {
  outline: none;
  text-decoration: none;
}



@media only screen and (max-width: 800px) {
  .vcenter {
    padding: 5% 10%;
  }
  .banner {
    text-align: center;
    width:90%;
  }
  .col-md-12, .col-md-6, .col-md-4, .col-md-5, .col-md-7, .colmd-3 {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}
